<h1 class="text-center">All Users who have used all 3 test attempts (failed) or simply passed</h1>

<%= link_to 'Download this data', admin_demographics_url(:format => :csv), class: 'btn btn-primary'%>

<% @courses.sort_by { |m| m.title }.each do |course| %>
  <table class="table table-striped">
    <caption>
      Course Title: <%= link_to course.title, course %> 
      <br />
      Minimum Passing Grade: <%= course.minimum_score %>%
      <br />
      Minimum Time: <%= course.minimum_time_spent %> minute(s)
    </caption>
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Profession</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>NABP #</th>
      <th>Professional Licenses</th>
      <th>Date of Birth</th>
      <th>Last 4 of Social</th>
      <th>Personal Phone</th>
      <th>Employer Name</th>
      <th>Employer Phone</th>
      <th>Employer Address</th>
      <th>Employer State</th>
      <th>Employer City</th>
      <th>Employer Zip</th>
      <th>Pre-Test Score</th>
      <th>Latest Test Score</th>
      <th>Attempts</th>
      <th>Time Completed At</th>
      <th>Minutes Spent</th>
    </thead>
    <tbody>
      <% (@memberships.select { |m| m.course_id == course.id }.sort_by { |m| m.id }).each do |membership| %>
        <tr>
          <td><%= membership.user.getDisplayName %></td>
          <td><%= membership.user.email %></td>
          <td><%= membership.user.profession %></td>
          <td><%= membership.user.address %></td>
          <td><%= membership.user.city %></td>
          <td><%= membership.user.state %></td>
          <td><%= membership.user.zip_code %></td>
          <td><%= membership.user.nabp_id %></td>
          <td><%= membership.user.professional_licenses %></td>
          <td><%= membership.user.dob %></td>
          <td><%= membership.user.social_security %></td>
          <td><%= membership.user.personal_phone %></td>
          <td><%= membership.user.employer %></td>
          <td><%= membership.user.employer_phone %></td>
          <td><%= membership.user.employer_address %></td>
          <td><%= membership.user.employer_state %></td>
          <td><%= membership.user.employer_city %></td>
          <td><%= membership.user.employer_zip %></td>
          <td><%= membership.pretest_grade %></td>
          <td><%= membership.course_grade %></td>
          <td><%= membership.course_attempts %></td>
          <td><%= membership.updated_at %></td>
          <td><%= membership.minutes_spent %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<iframe id="survey-responses" src="https://docs.google.com/spreadsheets/d/1vDp2PCfPu5tLiUtLrHJvA3TeF086aOUG9TGeI_HqlGU/pubhtml?gid=2060121822&amp;single=true&amp;widget=true&amp;headers=false"></iframe>

<style type="text/css">
    #survey-responses {
      width: 100%;
      height: 850px;
    }

    table tr td {
      padding-right: 5px;
    }

    table tr th {
      padding-right: 5px;
    }
</style>
