<h1 class="text-center">All Users who have used all 3 test attempts (failed) or simply passed</h1>
<% @courses.each do |course| %>
  <table class="table table-striped">
    <caption>
      Course Title: <%= link_to course.title, course %> 
      <br />
      Minimum Passing Grade: <%= course.minimum_score %>%
    </caption>
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Profession</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>NABP #</th>
      <th>Professional Licenses</th>
      <th>Latest Test Score</th>
      <th>Attempts</th>
      <th>Time Completed At</th>
      <th>Completion Time</th>
    </thead>
    <tbody>
      <% @memberships.select { |m| m.course_id == course.id }.each do |membership| %>
        <tr>
          <td><%= membership.user.getDisplayName %></td>
          <td><%= membership.user.email %></td>
          <td><%= membership.user.profession %></td>
          <td><%= membership.user.address %></td>
          <td><%= membership.user.city %></td>
          <td><%= membership.user.state %></td>
          <td><%= membership.user.zip_code %></td>
          <td><%= membership.user.nabp_id %></td>
          <td><%= membership.user.professional_licenses %></td>
          <td><%= membership.course_grade %></td>
          <td><%= membership.course_attempts %></td>
          <td><%= membership.updated_at %></td>
          <td><%= membership.get_completion_time %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<style type="text/css">
    table tr td {
      padding-right: 5px;
    }

    table tr th {
      padding-right: 5px;
    }
</style>
