<% if @courses.empty? %>
  <h1>No One has Passed</h1>
<% end %>

<% @courses.each do |course| %>
  <table>
    <caption><%= link_to course.title, course %></caption>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Profession</th>
      <th>Address</th>
    </tbody>
    </tr>
    <% @memberships.select { |m| m.course_id == course.id }.each do |request| %>
      <tr>
        <td><%= request.user.getDisplayName %></td>
        <td><%= request.user.email %></td>
        <td><%= request.user.profession %></td>
        <td><%= request.user.address %></td>
      </td>
    <% end %>
  </table>
<% end %>

<style type="text/css">
    table tr td {
      padding-right: 5px;
    }

    table tr th {
      padding-right: 5px;
    }
</style>
