<% if current_user.isEligibleToTakeTest?(@course) ||
      current_user.isEligibleToTakePretest?(@course) %>
  <% if current_user.isEligibleToTakePretest?(@course) %>
    <h1 class="text-center">Pre-Quiz on "<%= @course.title %>"</h1>
    <p class="text-center">Please complete a pretest - this test will not be graded</p>
  <% else %>
    <h1 class="text-center">Quiz on "<%= @course.title %>"</h1>
  <% end %>

  <%= form_tag(quiz_course_path(@course)) %>
  <!-- Generate a Quiz -->
  <div class="quiz-questions">
    <% JSON.parse(@course.question_json)["questions"].each_with_index do |question, questionIndex| %>
      <fieldset id="question-<%= questionIndex %>">
        <legend><%= question["title"] %></legend>
        <% question["choices"].each_with_index do |choice, choiceIndex| %>
          <input type="radio" name="question-<%= questionIndex %>" value="<%= choiceIndex + 1 %>">
          <%= choice %>
          </input>
        <% end %>
      </fieldset>
    <% end %>
  </div>

  <!-- Submit -->
  <div class="text-center">
    <button class="btn btn-primary btn-block">Submit</button>
  </div>
  </form>
<% else %>
  <h1>This Course will not allow you to take the exam if  #1 You have not spent the minimum required time reviewing the course material or #2 If you have unsuccessfully attempted the exam three times.</h1>
<% end %>
