<% if current_user.getMembershipFor(@course).didUserPassCourse? %>
  <h1>Congratulations! You passed!</h1> 
  <h3>Scroll down and click "next" to claim your certificate</h1>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3>Answers</h3>
      <% answers = JSON.parse(@course.question_json)["answers"] %>
      <% JSON.parse(@course.question_json)["questions"].each_with_index do |question, questionIndex| %>
        <div class="row">
          <div class="col-xs-12">
            <label><%= question["title"] %></label><br />
            <% question["choices"].each_with_index do |choice, choiceIndex| %>
              <input disabled="disabled" class="radio-inline disabled" type="radio" <%= answers[questionIndex] == choiceIndex ? 'checked="checked"' : '' %> name="question-<%= questionIndex %>" value="<%= choiceIndex + 1 %>">
                <%= choice %>
              </input>
            <% end %>
            <br /><br />
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h1 class="text-center">We are sorry, you didn't pass.</h1>

  <% if !current_user.getMembershipFor(@course).canUserRetakeCourse? %>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>Answers</h3>
        <% answers = JSON.parse(@course.question_json)["answers"] %>
        <% JSON.parse(@course.question_json)["questions"].each_with_index do |question, questionIndex| %>
          <div class="row">
            <div class="col-xs-12">
              <label><%= question["title"] %></label><br />
              <% question["choices"].each_with_index do |choice, choiceIndex| %>
                <input disabled="disabled" class="radio-inline disabled" type="radio" <%= answers[questionIndex] == choiceIndex ? 'checked="checked"' : '' %> name="question-<%= questionIndex %>" value="<%= choiceIndex + 1 %>">
                  <%= choice %>
                </input>
              <% end %>
              <br /><br />
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <h3>Remember you have 3 test attempts!</h3>
    <div class="text-center">
      <%= link_to 'Back', courses_path, class: 'btn btn-primary'%>
    </div>
  <% end %>
<% end %>

<% if !current_user.getMembershipFor(@course).canUserRetakeCourse? %>
  <iframe class="quiz-completed-survey embed-responsive-item" src="https://docs.google.com/forms/d/16pzykdHpGsXUSUnaidRiWOZ7huXkjBrHIdVCt0Gync8/viewform?embedded=true&amp;entry.1662893314=<%= URI.encode(@course.title) %>" width="100%" height="1500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  <%= link_to 'Next', survey_course_url, class: 'btn btn-primary btn-block'%>
<% end %>
