<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= @course.title %></h1>

<div id="player"></div>

  <script src="https://www.youtube.com/iframe_api"></script>
  <script>
    var videoId = '<%= @course.video_url %>'
  </script>
<% if current_user.isEligibleToTakeTest?(@course) %>
<% end %>

<p>
  <% if @course.description == '' %>
    No Description
  <% else %>
    <%= @course.description %>
  <% end %>
</p>

<div class="text-center">
  <% if current_user.isRegisteredFor?(@course) %>
    <% if current_user.isEligibleToTakeTest?(@course) %>
      <%= link_to 'Take Quiz', quiz_course_path(@course), class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <%= link_to 'Register', register_course_path(@course), method: :post, class: 'btn btn-primary' %>
    </form>
  <% end %>

  <% if current_user.admin %>
    <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-primary' %>
    <%= link_to 'Back', courses_path, class: 'btn btn-primary'%>
  <% end %>
</div>
