<div class="text-center">
  <h1>Special Course Survey Question</h1> 
  <% if @membership.didUserPassCourse? %>
    <i>A response is required in order to view your certificate</i>
  <% end %>
</div>

<%= form_for @membership, :method => :post, :url => survey_course_url do |f| %>
  <hr />

  <div class="course-special-question-field">
    <div class="survey-quiz-questions">
      <% JSON.parse(@course.special_questions).each_with_index do |question, questionIndex| %>
        <fieldset id="survey-question-<%= questionIndex %>">
          <legend><%= question %></legend>
          <input class="form-control" type="text" name="survey_question[<%= questionIndex %>]"></input>
        </fieldset>
      <% end %>
    </div>
  </div>

  <hr />

  <%= f.submit "Submit Response", class: "btn btn-success" %>
<% end %>
